# Agenda

- regex
- combining dataframes
- another scrape example
- working with api

**regular expression**

* define a pattern to match within a string
* most simple: match an exact substring
* define:
    * character classes (only digits, two consecutive digists)
    * quantifiers (one or more, 0 or more, exact repetition)
    * anchors (e.g. pattern starts at beggining or ends at end)

**user 're' module**

* 'match' - the first occur of pattern beginning from start ofnstring
* 'search'- same as match but anywhere in the string 
* 'findall' - find all occruings of pattern
* 'split'
* 'replace'

match object ---> represents the matches found in re:

* index into it... retriev subgroup or whole match
* truthy by default
* most will return 'None' if nothing one


regex possible in dataframes... 'match','contain(s)','extract'

In [3]:
#rawstring
r'\directoryName'

'\\directoryName'

## character classes

* [abc] = match a, b, or c as a single character
    * [bc]at .. natches bat and cat
* [a-z] = match all lowrecase letters
* [a-zA-Z0-9_] = match all upper/lower case etters, digitts, and underscore
    * \w = match a word chara ters ... same as abve ^^^
* [0-9]... \d = match

In [14]:
import re

re.findall ('.an', ' a BANANA boat', flags=re.IGNORECASE)
#give me any character followed by 'an' in string

['BAN']

## quantifiers

* '*': 0 or more repetitions
* '+': 1 or more
* '?': 0 or 1; changes from greedy evaluation to reluctant/lazy evaluation
* '{2}: exactly twice

In [30]:
#parentheses are used to group substrings

n = re.findall('o(a(t))', 'banana boat')
n

[('at', 't')]

In [26]:
n[0]

('at', 't')

In [28]:
n[2]

IndexError: list index out of range

## dataframe

* 'match':
* 'contains' : sabe as above, but anywhere in the string
* 'extract': extract a substring based pattern/group from string value in Series

how =''

* inner = only include rows where values in this col is the same
* outer = 
* 
*

In [31]:
import requests
from bs4 import BeautifulSoup

In [33]:
res= requests.get('https://en.wikipedia.org/wiki/List_of_largest_cities')

In [34]:
dom = BeautifulSoup()

In [37]:
#fast way

import pandas as pd

tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_largest_cities')

In [38]:
tables

[                                            Ekistics
 0  List of largest cities List of cities proper b...
 1                                      Cities portal
 2  .mw-parser-output .navbar{display:inline;font-...,
         City[a]        Country UN 2018 population estimates[b]  \
         City[a]        Country UN 2018 population estimates[b]
 0           NaN            NaN                             NaN
 1         Tokyo          Japan                      37468000.0
 2         Delhi          India                      28514000.0
 3      Shanghai          China                      25582000.0
 4     São Paulo         Brazil                      21650000.0
 ..          ...            ...                             ...
 77   Washington  United States                       5207000.0
 78       Yangon        Myanmar                       5157000.0
 79   Alexandria          Egypt                       5086000.0
 80        Jinan          China                       5052000.0
 81  Guadalajara         Mexico                       5023000.0

            City proper[c]             \
                Definition Population
 0                     NaN        NaN
 1   Metropolis prefecture   13515271
 2   Municipal corporation   16753235
 3            Municipality   24870895
 4            Municipality   12252023
 ..                    ...        ...
 77       Federal district     702455
 78                   City          —
 79      Urban governorate          —
 80  City (sub-provincial)    8700000
 81           Municipality    1385621

                                                                           \
    Area.mw-parser-output .nobold{font-weight:normal}(km2)  Density(/km2)
 0                                                 NaN                NaN
 1                                                2191          6,169[13]
 2                                                1484         11,289[15]
 3                                                6341      3,922[17][18]
 4                                                1521          8,055[19]
 ..                                                ...                ...
 77                                                177          3,969[29]
 78                                                  —                  —
 79                                                  —                  —
 80                                              10244                849
 81                                                151          9,176[21]

    Urban area[8]                         Metropolitan area[d]            \
       Population Area(km2) Density(/km2)           Population Area(km2)
 0            NaN       NaN           NaN                  NaN       NaN
 1       37732000      8231      4,584[e]             37274000     13452
 2       32226000      2344     13,748[f]             29000000      3483
 3       24073000      4333      5,556[g]                    —         —
 4       23086000      3649      6,327[h]             21734682      7947
 ..           ...       ...           ...                  ...       ...
 77       7631000      5501      1,387[s]              6263245     17009
 78       6874000       666         10321                    —         —
 79       4712000       293         16082                    —         —
 80       4017000       932          4310                    —         —
 81       5525000       816          6771              5286642      3560


    Density(/km2)
 0            NaN
 1      2,771[14]
 2      8,326[16]
 3              —
 4      2,735[20]
 ..           ...
 77       368[95]
 78             —
 79             —
 80             —
 81          1485

 [82 rows x 13 columns],
       vteWorld's largest cities  \
 0                   City proper
 1             Metropolitan area
 2      Urban area/agglomeration
 3                    Historical
 4              Related articles
 5  Cities portal • World portal

                          vteWorld's largest cities.1
 0  Capitals Africa Americas (North Latin Central ...
 1  Americas (North South West Indies) Europe (Eur...
 2  Asia Africa Europe European Union Nordic North...
 3                                       World Europe
 4  Arcology Ecumenopolis Global city Megacity Meg...
 5                       Cities portal • World portal  ,
           vteCities                                        vteCities.1
 0   Urban geography  Urban area City centre Downtown Suburb Exurb C...
 1  Urban government  City status Municipality direct-controlled Ind...
 2   Urban economics  World's cities by GDP Global city Central busi...
 3    Urban planning  History of urban planning Theories of urban pl...
 4  Urban population  World's largest cities throughout history Most...
 5          Urbanism  Urban warfare Urban studies Urban morphology U...
 6       Environment  Climate change Green urbanism Sustainable city...
 7     Cities portal                                      Cities portal]